@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@500&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #0D0D2B;
  color: #000;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 75.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.bg-blue-button {
  background-color: #3671E9;
  border-radius: 2rem;
}

/* site-header */

.site-header {
  padding-top: 3.75rem;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__logo--img {
  display: block;
  width: 8.438rem;
  height: 2.5rem;
}

/* site-nav */
.site-nav {
  margin-right: 3.5rem;
}

.site-nav__list {
  display: flex;
  margin: 0;
}

.site-nav__item {
  list-style: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 2rem;
}

.site-nav__link {
  text-decoration: none;
  color: #fff;
}

.button-divider {
  color: #F2F2F2;
}

.login-button {
  margin-right: 1.5rem;
}

.registration-buttons {
  white-space: nowrap;
}

.registration-button {
  padding: 0.875rem 2rem;
  margin-left: 1.5rem;
}

/* main-content */

/* hero */
.hero {
  color: #fff;
  padding-top: 1rem;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__content {
  width: 100%;
}

.discount__info {
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0rem 0.25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem 0;
  width: 24rem;
  white-space: nowrap;
  text-align: center;
}

.discount {
  display: inline-block;
  color: #0D0D2B;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.039rem;
  margin: 0;
  margin-right: 1rem;
}

.discount__descr {
  display: inline-block;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.009rem;
  vertical-align: middle;
  margin: 0;
}

/* hero-info */
.hero {
  margin-bottom: 6rem;
}

.hero__text {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.688rem;
  margin: 0 0 1.5rem 0;
}

.hero__descr {
  color: #E0E0E0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.009rem;
  margin: 0 0 2rem 0;
}

.hero__cta--button {
  padding: 1.156rem 1.5rem;
  display: flex;
  align-items: center;
  width: 12.625rem;
  height: 4rem;
}

.hero__cta--button__text {
  margin-right: 1.5rem;
}

.hero__content--img {
  width: 37.75rem;
  height: 36.572rem;
  display: block;
}

/* statistics-section */
.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.statistic__column {
  display: flex;
}
.statistics__icon {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}
.statistics__text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #fff;
  margin: 0;
}
.statistics__extra--text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.009rem;
  color: #E0E0E0;
  margin: 0;
}

/* promo-section */
.promo {
  display: flex;
  align-items: center;
  margin-bottom: 12.5rem;
}

.promo__column_img {
  display: block;
  width: 40.625rem;
  height: 29.563rem;
}
.promo__column_text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #fff;
  margin: 0 0 1.43rem 0;
}
.promo__column_descr {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0.009rem;
  color: #E0E0E0;
  margin-bottom: 1.938rem;
}

.promo__column_button {
  width: 9.125rem;
  height: 3.688rem;
  padding: 1rem 1.5rem;
}

/* calculating-section */
.calculating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}

.calculating__header {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #fff;
  margin: 0 0 1.5rem 0;
}

.calculating__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-align: center;
  color: #E0E0E0;
  margin: 0 0 4rem 0;
}

.calculator {
  background-color: #FBFCFE;
  width: 58.875rem;
  border-radius: 16px;
  padding-top: 3rem;
}

.calculator__form {
  display: flex;
  justify-content: space-around;
  color: #0D0D2B;
  margin-bottom: 6rem;
}
.calculator__input {
  border: none;
  width: 15rem;
}

.calculator__input--border {
  border-bottom: 2px solid #E0E0E0;
}

.calculator__option {
  color: #0D0D2B;
}

.calculator__button {
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.688rem;
}

.calculator__result {
  padding-left: 3rem;
}

.calculator__result_header {
  color: #3671E9;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  margin: 0 0 2rem 0;
}

.calculator__result_quantity {
  font-weight: 700;
  font-size: 2rem;
  line-height: 0.03rem;
  margin: 0 0 1rem 0;
}

.calculator__result_descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
  color: #828282;
  margin: 0 0 3rem 0;
}

.calculator__dollar {
  color: #3671E9;
}

/* .crypto_currency-section */
.crypto_currency {
  background-color: #F8F9FB;
  display: flex;
  justify-content: center;
}
.crypto_currency__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.crypto_currency__header {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #0D0D2B;
  margin-bottom: 4rem;
}
.crypto_currency__card_wrapper {
  display: flex;
  justify-content: space-between;
}
.crypto_currency__card {
  width: 23.125rem;
  height: 27.063rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 6.25rem;
  background-color: #FFFFFF;
  transition: all .4s ease;
}

.crypto_currency__card:not(:last-child) {
  margin-right: 2.813rem;
}

.crypto_currency__card--icon {
  display: block;
  margin: 0 0 3rem 0;
}
.crypto_currency__card--name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #0D0D2B;
  margin: 0 0 1rem 0;
  }

.crypto_currency__card--short_name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.688rem;
  vertical-align: middle;
  color: #828282;
}

.crypto_currency__card--descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #b9adcf;
  margin: 0 0 1.563rem 0;
}

.crypto_currency__card--button {
  display: flex;
  align-items: center;
}
.crypto_currency__card--button_text {
  /* padding: 1rem 1.5rem; */
  display: none;
  margin-left: 1rem;
}
.crypto_currency__card--button_icon {
  width: 2rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  margin: 0.5rem;
}

.crypto_currency__card:hover {
  background-color: #2B076E;
  cursor: pointer;
}

.crypto_currency__card:hover .crypto_currency__card--button_text {
  display: inline-block;
}

.crypto_currency__card:hover .crypto_currency__card--name {
  color: #FFFFFF;
}
/* advantages-section */
.advantages {
  background-color: #2B076E;
  color: #FFFFFF;
}

.advantages__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages__header {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.advantages__card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__card_row {
  margin-bottom: 7.5rem;
}

.advantages__card_column {
  margin-right: 1rem;
}

.advantages__card_column--header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 0 1.5rem 0;
}

.advantages__card_column--descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  color: #E0E0E0;
  margin: 0 0 2rem 0;
}

.advantages__card_column--button {
  padding: 1rem 2rem;
  margin: 0;
}

.advantages__card_column--img {
  display: block;
  border-radius: 1rem;
}

/* cta-section */
.cta {
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  color: #FFFFFF;
  padding: 5.5rem 0;
}

.cta__container {
  background-color: #3671E9;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__info {
  padding: 3rem;
  margin-right: auto;
}

.cta__header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
  margin: 0 0 1rem 0;
}

.cta__descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
  margin: 0;
}

.cta__input {
  background-color: transparent;
  border: none;
  height: 2.188rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 23.375rem;
  margin-right: 2.5rem;
}

.cta__input::placeholder {
  color: #FFFFFF;
}

.cta__button {
  color: #0D0D2B;
  padding: 0.875rem 2rem;
  border-radius: 2rem;
  border: none;
}